# Sakila CodeAlong and Challenge

<img src='../Data/sakila-db-model.png'>

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

ModuleNotFoundError: No module named 'sqlalchemy_utils'

In [2]:
pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\12103\anaconda3\envs\dojo-env\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\12103\anaconda3\envs\dojo-env\lib\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\12103\anaconda3\envs\dojo-env\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:

# ## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'root' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/sakila'
engine = create_engine(connection)

In [4]:
#from sqlalchemy import *

In [5]:
login['username']

NameError: name 'login' is not defined

In [17]:
#connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/sakila"
#engine = create_engine(connection)

In [6]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

## Show the Tables

In [7]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'

## 1. What is the average length of films by category?

In [ ]:
q = ''' '''

pd.read_sql(q, engine)

## 2. Sales have been lagging among young families, and you wish to target all family movies for a promotion. Identify all movies categorized as family films.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 3 You want to run an email marketing campaign in Canada, for which you will need the names and email addresses of all Canadian customers. Use joins to retrieve this information.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

# The following queries use subqueries

## 4. Find the customer's first and last name where the amount paid was greater than the average payment. Make sure to only show unique results.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 5. Find the total number of payments made by Mary Smith using subqueries.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 6. Use subqueries to display all actors who appear in the film Alone Trip.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

<img src = '../Data/Challenge.jpg'>

## 1. What are the titles, categories, and lengths of all films in the Sakila database that are longer than 120 minutes? Put the films in order by length.

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 2. What are the first names, last names, and film titles of all actors named 'Penelope' in the Sakila database?

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

# The following queries must use Subqueries for the statement.

## 3. Who are the actors that have acted in the film with film_id = 1

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 4. What are the films that are in the English Language

In [ ]:
q = '''  '''

pd.read_sql(q, engine)

## 5. Who are the customers that belong to the store managed by Mike Hillyer?

In [ ]:
q = '''  '''

pd.read_sql(q, engine)